video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background: url('../images/mobile.jpg');
}

.hero-container>h1 {
    color: #fff;
    font-size: 60px;
    margin-top: -100px;
}

.hero-container>p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.hero-btns .btn:hover {
    color: #B10663;
    transform: scale(1.1);
}

@media screen and (max-width: 960px) {
    .hero-container>h1 {
        font-size: 40px;
        margin-top: -150px;
    }
    .hero-container>p {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container>h1 {
        font-size: 30px;
        margin-top: -100px;
    }
    .hero-container>p {
        font-size: 18px;
    }
    .btn-mobile {
        display: block;
        text-decoration: none;
    }
    .btn {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    video {
        display: none !important;
        visibility: hidden !important;
        pointer-events: none;
    }
    .hero-container {
        background: url('../images/mobile.jpg');
        pointer-events: none;
    }
    .hero-container>p {
        text-align: center;
        font-size: 20px;
    }
    .hero-container>h1 {
        font-size: 38px;
    }
}